<!DOCTYPE html>
<html lang="en">
<head>
  <title>Weather</title>
  <link rel=" icon" href="rainy-day.png" >
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js"></script>
</head>
<body>
    <div class="main-content">
    {{>header}}

    <p>Use this site to get your weather</p>
    <form action="">
      <input placeholder="location" >
      <button>search</button>
    </form>
    <p id="message-1" ></p>
    <p id="message-2" ></p>
    </div>
  {{>footer}}
</body>
</html>
